.white-shadow {
  filter:
    drop-shadow(0 0 4px rgba(255, 255, 255, 0.3))
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.6))
    drop-shadow(0 0 12px rgba(255, 255, 255, 0.8));
}

.line-header {
  height: 1px;
  position: relative;
  top: -1px;
  box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.8);
}
