:root{
  justify-content: center;
  text-align: center;
}

header {
  position: fixed; /* Mantiene el encabezado fijo en la parte superior */
  top: 0; /* Alinea el encabezado al borde superior */
  left: 0; /* Alinea al borde izquierdo */
  width: 100%; /* Asegura que el encabezado ocupe todo el ancho */
  background-color: #1a1a1a; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 1rem 0; /* Espaciado superior e inferior */
  z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */
  
}


.sidebar {
  position: fixed; /* Mantiene la barra fija en la parte izquierda */
  top: 80px; /* Alinea al borde inferior del encabezado */
  left: 0; /* Alinea al borde izquierdo */
  width: 200px; /* Ancho del rectángulo */
  height: 750px; /* Reduce la altura restando más del encabezado y espacio adicional */
  background-color: #3d3a3a; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 1rem; /* Espaciado interior */
  border: 2px solid #00ffff; /* Borde azul neón */
  border-radius: 10px; /* Bordes redondeados solo en la parte izquierda */
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); /* Sombra para un efecto más suave */
  display: flex; /* Flexbox para centrar el contenido */
  flex-direction: column; /* Disposición vertical */
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: flex-start; /* Alínea el contenido hacia la parte superior */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.sidebar2 {
  position: fixed; /* Mantiene la barra fija en la página */
  top: 50%; /* Centra verticalmente */
  left: 55%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para que el top-left esté centrado en la página */
  width: 950px; /* Ancho del sidebar */
  height: 480px; /* Altura del sidebar */
  background-color: #3d3a3a; /* Fondo gris claro */
  border: 2px solid #00ffff; /* Borde azul neón */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); /* Sombra con efecto neón suave */
  padding: 1rem; /* Espaciado interior */
  display: flex; /* Flexbox para organizar el contenido */
  flex-direction: row; /* Disposición vertical */
  align-items: left; /* Centra horizontalmente el contenido */
  justify-content: flex-start; /* Alínea el contenido hacia la parte superior */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}
.descripcion {
  text-align: justify;
}

.circle {
  width: 200px; /* Ancho del círculo */
  height: 210px; /* Altura del círculo */
  
  border-radius: 50%; /* Esto hace que sea un círculo */
  margin-bottom: 1rem; /* Espaciado inferior para separar del texto */
  transition: border 0.3s; /* Añade una transición suave para el borde */
}

.circle:hover {
  border: 3px solid #00ffff; /* Borde violeta neón */
  box-shadow: 0 0 05px #00ffff; /* Efecto de resplandor */
}
.circle img {
  width: 200px; /* Asegura que la imagen ocupe todo el contenedor */
  height: 100%; /* Mantiene la relación de aspecto */
  border-radius: 200px;
}

nav ul {
  margin: 0; /* Elimina el margen de la lista */
  list-style: none; /* Elimina el estilo de lista predeterminado */
  padding: 0; /* Elimina el relleno de la lista */
  gap: 2rem; /* Espacio entre elementos */
  justify-content: center;
  display: flex;
}

.learning {
  list-style-position: inside; /* Mantiene los puntos cerca del texto */
  padding: 0; /* Elimina el padding predeterminado */
  text-align: center; /* Centra el texto de los ítems */
  width: 60%; /* Ajusta el ancho del contenedor para una justificación visual */
  margin: 0 auto; /* Centra la lista dentro de su contenedor */
}

.reflection-section {
  text-align: justify;
}

.table td {
  padding: 1rem; /* O el tamaño que prefieras */
}

.learning li {
  width: 100%; /* Asegura que los ítems ocupen todo el ancho disponible */
  text-align: justify; /* Justifica el texto internamente */
}

nav li:hover {
  color: #00ffff; /* Cambia el color del texto a azul neón al pasar el cursor */
  text-shadow: 0 0 5px #00ffff, 0 0 10px #151d1d; /* Añade un efecto de resplandor */
}

header:hover {
  border-bottom: 4px solid #00ffff; /* Color azul neón en el borde inferior al pasar el cursor sobre el encabezado */
}

footer {
  position: fixed;
  bottom: 0; /* Ancla el footer a la parte inferior */
  left: 0; /* Alinea al borde izquierdo */
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
  background-color: #1a1a1a; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 1rem 0; /* Espaciado superior e inferior */
  text-align: center; /* Centra el contenido */
  z-index: 998; /* Menor z-index que el sidebar para que quede detrás */
  display: flex; /* Flexbox para organizar contenido horizontalmente */
  flex-direction: row; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: center;
}

footer img {
  width: 40px; /* Ajusta el ancho de las imágenes */
  height: auto; /* Mantiene la proporción */
  margin: 0 0.5rem; /* Añade un poco de espacio entre las imágenes */
  position: relative;
}


.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
}


.devway {
  margin-top: 15%;
 
}
.video-container {
  margin-right: 20px; /* Espacio entre el video y el texto */
}

.video-section {
  width: 350px; /* Ancho del video */
  height: 350px; /* Altura del video */
}

.reflection-section {
  flex: 1; /* Permite que el texto ocupe el espacio restante */
  color: white; /* Cambia el color del texto a blanco para mayor legibilidad */
}



.card {
  text-align: center; 
  margin-top: 100%; /* Espacio superior */
  margin-bottom: 50px; /* Ajusta este valor según sea necesario */
}

.read-the-docs {
  color: #888;
}


